<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello! User <%= @user.email %> just bought a product</h1>
    <p> Id of purchase: <%= @purchase['id'] %> </p>

  </body>
</html>
