<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Hello! An error occured while purchasing </h1>
    <p> Email of user:  <%= @user.email %> </p>
  </body>
</html>
