/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.product-title {
  color: #222;
}

.product-title:hover {
  color: #555;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

label {
  margin-top: 5px;
  margin-bottom: 0px !important;
}

.check-remember {
  margin-left: 5px !important;
  width: auto;
}

.btn {
  margin-top: 10px;
}

.new-user {
  margin-top: 10px;
}

/* header */

.header {
  .navbar-right {

    .logged-text {
      margin-right: 7px;
    }

    .userpic {
      margin-top: 12px;
    }
  }
}

/* footer */
.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer a {
  color: #555;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}

/* signup */

.signup-container {
  ul li a {
    color: #222;
  }

  ul li a {
    color: #555;
  }

  h1 {
    margin-left: 35px;
  }

  .tab-content {
    margin-top: 20px;
    margin-left: 35px;
  }
}

/* main */

.show-container {
  .label-pro {
    margin-right: 5px;
  }

  .btn-switch {
    margin-top: 0;
  }
}
