<div class="container">
  <div class="footer">
    <small>
      the dnlrmkv online film store
    </small>
    <nav>
      <ul>
        <li><%= link_to "home", products_path %></li>
      </ul>
    </nav>
  </div>
</div>
